@import "../scss/variable.scss";

.post {
    display: flex;
    padding: 24px;
    &__content {
        flex: 3;
    }

    &__meta {
        flex: 1;
    }

    @media all and (max-width: $tablet_size + 'px') {
        padding: 0;
        flex-direction: column;
        img {
            width: 100%;
        }

        &__meta {
            margin: 10px;
        }
    }
}

.posts {
    &__list {
        margin: 0 auto;
        max-width: 940px;
    }

    &__section {
        min-height: 50vh;
    }

    &__actions {
        margin: 0 auto;
        min-width: 100px;
        max-width: 250px;
        font-size: 21px;
        color: blue;
        text-decoration: underline;
        font-family: cursive;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
}
