@import "../scss/variable.scss";

.post-content-item {
    font-size: 19px;
    line-height: 1.2;
    letter-spacing: 1px;
    padding: 0 24px;

    @media all and (max-width: $medium_size+"px") {
        font-size: 15px;
    }
}
